
<h1 style="color: white;">Gareth Cary</h1>

<p style="color: white;">I qualified as a Web Developer at Le Wagon in London having previously worked in the entertainment industry as a Company Manager. I have always worked in a team and I am an extremely well organised person. I am looking for a role as a Front-end Web Developer in a fast moving and challenging environment. I am willing to relocate anywhere in the UK and I can't wait to get started.</p>

