<div class="stars"></div>
<div class="stars1"></div>
<div class="stars2"></div>
  <br>
    <br>
<div class="about-title">
  <h1 style="color: white; text-align: center;" class="position-info-title">Gareth Cary - Full Stack Web Developer</h1>
</div>
  <br>
    <br>

      <div class="container">
        <div class="row ">
          <div class="col-lg-5 ">
            <div style="text-align: center;">
              <%= image_tag "garethcary.png", class: "gareth-cary-image"%>
            </div>
          </div>
          <div class="col-lg-7  background-stuff">
            <div class="position-info-title">
              <h3 class="position-info-title">Info</h3>
              <p style="color: white;" class="position-info-title border-line-about">I qualified as a Web Developer at Le Wagon in London having previously worked in the entertainment industry as a Company Manager. I have always worked in a team and I am an extremely well organised person. I am looking for a role as a Front-end Web Developer in a fast moving and challenging environment. I am willing to relocate anywhere in the UK and I can't wait to get started.</p>

                  <h3 style="margin-top: 10px; padding-left: 10px;">Key Skills</h3>
              <div class="row border-line-about">
                <div class="col-lg-4">
                  <ul>
                    <li>Ruby</li>
                    <li>Ruby on Rails</li>
                    <li>Git/Github</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Jquery</li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul>
                    <li>Figma</li>
                    <li>Bootstrap</li>
                    <li>UI/UX Design</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Photoshop</li>
                    <li>Photography</li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul>
                    <li>SQL</li>
                    <li>React</li>
                    <li>SCSS</li>
                    <li>Trello</li>
                    <li>Node</li>
                    <li>Pixelmator</li>
                    <li>User Interface</li>
                  </ul>
                </div>
              </div>
              <%= image_tag "programs1.png", class: "image-programs"%>
            </div>
          </div>
        </div>
      </div>



<br>
<br>
<br>
