
<div class="stars"></div>
<div class="stars1"></div>
<div class="stars2"></div>

<div class="whole-content-contact">
  <div class="contact-page">
    <div class="item-in-contact-form">
      <h2>Contact - Gareth Cary</h2>
      <h3 style="margin-bottom: 20px;">Email</h3>
      <p><%= mail_to("gareth@caryfamily.co.uk", name = "gareth@caryfamily.co.uk", class: "email-link") %></p>
      <h3 style="margin-bottom: 20px; margin-top: 20px;">Github</h3>
      <a href="https://github.com/gareth-cary" target="#" class="email-link">https://github.com/gareth-cary</a>
      <h3 style="margin-bottom: 20px; margin-top: 20px;">Linkedin</h3>
      <a href="https://www.linkedin.com/in/gareth-cary/" target="#" class="email-link">https://www.linkedin.com/in/gareth-cary/</a>
    </div>
  </div>
</div>
 <br>
 <br>
 <br>
<br>
<br>
<br>
<br>

