<div class="stars"></div>
<div class="stars1"></div>
<div class="stars2"></div>
<br>

<div class="background-home">
  <div class="title">
    <h1>Full Stack Web Developer - Gareth Cary</h1>
    <br>
    <div class="key-javascript">
      <h2>Key Programming Skills:</h2>
      <p style="font-size: 30px;"><span id="banner-typed-text"></span></p>
    </div>
  </div>
</div>


 <p style="text-align: center; font-weight: bolder; letter-spacing: 2px;"><%= link_to "View Portfolio", portfolio_path, class: 'button' %></p>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

































