<div class="background-home">
  <div class="title">
    <h1>Full Stack Web Developer</h1>
    <h2>Gareth Cary</h2>
    <p><em>Online Portfolio</em></p>
  </div>
</div>

<br><br>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>

    </div>
  </div>
</div>
