<div class="stars"></div>
<div class="stars1"></div>
<div class="stars2"></div>

<div class="home-whole-content">
  <div class="background-home">
    <div class="title">
      <h1>Front End Web Developer - Gareth Cary</h1>
      <div class="key-javascript">
        <h2>Key Programming Skills:</h2>
        <p class="typed-text-design"><span id="banner-typed-text"></span></p>
      </div>
    </div>
    <br>
   <p style="text-align: center; font-weight: bolder; letter-spacing: 2px;"><%= link_to "View Portfolio", portfolio_path, class: 'button' %></p>
  </div>
</div>



































