<div class="stars"></div>
<div class="stars1"></div>
<div class="stars2"></div>

<div class="background-home">
  <div class="title">
    <h1>Full Stack Web-Developer</h1>
    <h2>Gareth Cary</h2>
    <p><em>Online Portfolio</em></p>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-lg-12">
    <h2 style="color: white; text-align: center; font-family: 'Playfair Display SC', serif;">Portfolio and Website Links</h2>
  </div>
</div>

    <div class="container">
      <div class="row" >
        <div class="col-lg-6 col-md-6 center-style">
            <div class="card-design">
              <div class="card-position">
                <h2 style="font-size: 25px; font-family: 'Playfair Display SC', serif;">Junto Book Club</h2>
                <p style="font-family: 'Playfair Display SC', serif;"><em>Book Swapping website that allows you to swap books in a few simple steps</em></p>
                <br>
                <br>
                <br>
                <br>
              <div class="link">
                <a href="https://www.juntobookclub.com/" target="_blank" class="link-hover">LINK</a>
              </div>
             </div>
         </div>
        </div>

    <div class="col-lg-6 col-md-6 center-style">
      <div class="card-design1">
        <div class="card-position1">
          <h2 style="font-size: 25px; font-family: 'Playfair Display SC', serif;">PerformerNow</h2>
          <p style="font-family: 'Playfair Display SC', serif;"><em>Find the right performer for your event at just the click of a button.</em></p>
          <br>
          <br>
          <br>
          <br>
          <div class="link1">
            <a href="https://performernow.herokuapp.com/" target="_blank" class="link-hover1">LINK</a>
          </div>
         </div>
       </div>
      </div>
    </div>
  </div>








