<div class="stars"></div>
<div class="stars1"></div>
<div class="stars2"></div>

<div class="background-home">
  <div class="title">
    <h1>Full Stack Web Developer - Gareth Cary</h1>
    <div class="key-javascript">
      <h2>Key Programming Skills:</h2>
      <p style="font-size: 3vw;"><span id="banner-typed-text"></span></p>
    </div>
  </div>
</div>


 <p style="text-align: center;"><%= link_to "View Portfolio", portfolio_path, class: 'button' %></p>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

































