
<br>
<br>
<br>

<h1 style="z-index: 10000; text-align: center; color: white; font-family: 'Marmelad', sans-serif; font-size: 46px; margin-top: 30px;">Portfolio - Gareth Cary</h1>
<p style="z-index: 10000; text-align: center; color: white; font-family: 'Marmelad', sans-serif; font-size: 22px; opacity: 0.7;">View Website Links Below </p>



<div class="container">
  <div class="row">
    <div class="col-lg-6 align-items-card">
      <div class="whole-card">
         <%= link_to "https://www.juntobookclub.com/", class: "link-blue-line" do %>
         <div class="title-home-card">
           <h2 style="font-size: 30px;">Junto Book Club</h2>
         </div>
         <div class="card-trip">
           <%= image_tag "https://images.unsplash.com/photo-1526721940322-10fb6e3ae94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" %>
           <div class="card-trip-infos">
             <div>
               <h2>https://www.juntobookclub.com/</h2>
               <p>Book Swapping Website</p>
             </div>
           </div>
         </div>
         <% end %>
      </div>
      <div class="card-info-bottom">
        <h2 style="color: white;">About - Junto Book Club</h2>
        <br>
        <p style="color: white;"><em>This Website was developed at Le Wagon - London. As part of a team we developed a website that allowed the user to swap books with anyone who has signed up an account. The second appication of this website is 'Book Club'. Bookclub allows you to set up and find bookclubs near.</em></p>
      </div>
    </div>



    <div class="col-lg-6 align-items-card">
      <div class="whole-card">
        <%= link_to "https://performernow.herokuapp.com/", class: "link-blue-line" do %>
        <div class="title-home-card">
          <h2 style="font-size: 30px;">PerformerNow</h2>
        </div>
        <div class="card-trip">
          <%= image_tag "https://images.unsplash.com/photo-1547423753-bff7561e2956?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" %>
          <div class="card-trip-infos">
            <div>
              <h2>https://performernow.herokuapp.com/</h2>
              <p>Find the right Artist for your event</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="card-info-bottom">
        <h2 style="color: white;">About - PerformerNow</h2>
        <br>
        <p style="color: white;"><em>This Website was developed at Le Wagon - London. As part of a team we developed a website that allowed the user to find an Artist or Performer for there event. This website is an online directory for Artist's who what to post there skills and find work through our website.</em></p>
      </div>
    </div>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
