<div class="create-page-content">
  <div class="create-page-info">
    <h1>Thank you for getting in contact</h1>
    <br>
    <h2>We will respond as soon as possible</h2>
    <br>
    <br>
    <%= link_to "Finish", root_path, class: 'link-back-home' %>
  </div>
</div>

<br>

<br>

<br>
