.gareth-cary-image {
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 20px 3px white;
  margin-bottom: 20px;
}


.position-info-title {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-family: 'Playfair Display SC', serif;
  z-index: 10000;
  margin-bottom: 20px;
}

.background-stuff {
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;

}
