.button {
  font-size: 20px;
  min-width: 400px;
  text-decoration: none;
  color: black;
  background-color: white;

  text-align: center;
  padding: 12px 25px;
  position: relative;
  font-family: 'Marmelad', sans-serif;
}

.button:hover {
  text-decoration: none;
  color: white;

  transition: 0.7s;
  background-color: grey;
}


@media (min-width: 800px) {
  .button {
  font-size: 30px;
  min-width: 400px;
  text-decoration: none;
  color: black;
  background-color: white;

  text-align: center;
  padding: 13px 24px;
  position: relative;
  font-family: 'Marmelad', sans-serif;
}

}
