.button {
  font-size: 37px;
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: 0 0 20px 3px white;
  text-align: center;
  padding: 13px 24px;
  position: relative;
  font-family: 'Marmelad', sans-serif;
}

.button:hover {
  text-decoration: none;
  color: white;
  box-shadow: 0 0 20px 3px white;
  transition: 0.7s;
  background-color: grey;
}
