.item-in-contact-form {
    width: 300px;
    box-shadow: 0 0 20px 3px white;
    border-radius: 2px;
    padding: 30px 30px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    h2 {
      font-family: 'Marmelad', sans-serif;
      font-size: 22px;
    }
    h3 {
      font-family: 'Marmelad', sans-serif;
      font-size: 22px
    }
}

.whole-content-contact {
    display: flex;
    justify-content: center;
    position: relative;
    top: 32px;
}

.email-link {
  color: white;
  padding: 5px 20px;
  font-size: 12px;
}

.email-link:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  transition: 0.5s;
}


@media (min-width: 500px) {
  .whole-content-contact {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    position: relative;
    top: 92px;
}
  .item-in-contact-form {
    width: 400px;
    box-shadow: 0 0 20px 3px white;
    border-radius: 2px;
    padding: 30px 30px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    h2 {
      font-family: 'Marmelad', sans-serif;
    }
    h3 {
      font-family: 'Marmelad', sans-serif;
   }
  }

  .email-link {
    color: white;
    padding: 5px 20px;
    font-size: 16px;

  }
}







