.item-in-contact-form {
    width: 470px;
    border-radius: 20px;
    padding: 30px 30px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    h2 {
      font-family: 'Playfair Display SC', serif;
    }
    h3 {
      font-family: 'Playfair Display SC', serif;
    }

}

.whole-content-contact {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
    top: 108px;
}

.email-link {
  color: white;
      border: 2px solid white;
      border-radius: 30px;
      padding: 5px 20px;
}

.email-link:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  transition: 0.5s;
}
