.bottom-page {
  background-color: black;
  z-index: 1000;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;

}

.fab {
  color: darkblue;
  margin-left: 20px;
  margin-right: 20px;
}

.fab:hover {
  color: lightblue;
}
