.bottom-page {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000000000000000000;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;

}

.fab {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.fab:hover {
  color: grey;
}
