.portfolio-title {
  font-family: 'Noto Sans JP', sans-serif;
}

.style-online {
  animation: blinkers 2s linear infinite;
}

@keyframes blinkers {
  80% {
    opacity: 0.8;
  }
}

.programs {
  text-align: center;
  margin-bottom: 20px;
img {
  width: 70%;
}
}

.typed-text-design {
  font-size: 2px;
}

