.portfolio-title {
  font-family: 'Noto Sans JP', sans-serif;
}

.style-online {
  animation: blinkers 4s linear infinite;
}

@keyframes blinkers {
  40% {
    opacity: 0.7;
  }
}

.programs {
  text-align: center;
  margin-bottom: 20px;
img {
  width: 70%;
}
}



