// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-image:  url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */

}

.background-home {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  text-align: center;
  color: white;

  font-family: 'Noto Sans JP', sans-serif;

  h1 {
    font-size: 50px;
    letter-spacing: 5px;
  }
  h2 {
    font-size: 35px;
    letter-spacing: 2px
  }
  p {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
